* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}
ul,li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

body {
    background-color: rgb(248, 227, 200);
}

@font-face {
    font-family: 'Circular Std';
    src: url(../../circular-std-medium-500.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(../../Inter-VariableFont_slnt\,wght.ttf);
}