.header-wraper {
    margin: 36px 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    border: none;
    cursor:pointer;
}

/* section 1 - explore-the-world */

.section-1-article {
    display: flex;
    justify-content: center;
}

.section-wrapper {
    text-align: center;
    margin-top: 32px;
    max-width: 398px;
}
.section-1-img {
    margin-top: 68px;
    display: flex;
    justify-content: center;
}


.section-article-title-a {
    color: #F85E9F;
    gap: 5px;
    font-weight: 700;
    font-size: 1.4rem;
}
.section-article-paragraph {
    margin-top: 32px;
    font-weight: 700;
    font-size: 4.5rem;
}

.section-article-paragraph a {
    color: #F85E9F;
}

.section-article-p2 {
    margin-top: 24px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #828283;
}

.section-1-media {
    margin-top: 32px;
}
.section-1-button {
    width: 398px;
    height: 65px;
    color: white;
    background-color: #5D50C6;
    border-radius: 25px;
    font-weight: 700;
    font-size: 1.4rem;
}

.section-demo {
    display: flex;
    margin-top: 51px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.4rem;
    color: #222831;
    gap: 5px;
}

/* section - 2 */

.partners {
    margin-top: 91px;
}

.partners-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 27px;
}

/* section - 3 - services */

.services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 64px;
}

.services-title {
    text-align: center;
    margin: 5px;
}
.services-title-h1 {
    font-weight: 700;
    font-size: 1.6rem;
    font-family: 'Circular Std';
    color: #F85E9F;
    text-transform: uppercase;
}

.services-article {
    margin-top: 16px;
    font-weight: 700;
    font-size: 3.2rem;
    color: #191825;
    font-family: 'Circular Std';
}

.services-description {
    text-align: center;
    margin-top: 32px;
}

.services-description img {
    margin-top: 32px;
}

.services-description h1 {
    margin-top: 32px;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 2.4rem;
}

.services-description p {
    margin-top: 32px;
    font-family: 'Circular Std';
    font-weight: 400;
    font-size: 1.8rem;
    color: #19182580;

}

/* section - 4 - destination-title */

.section-destination {
    margin-top: 65px;
    display: flex;
    justify-content: center;
}

.section-destination-title {
    margin-top: 32px;
    text-align: center;
}

.destination-h1 {
    font-weight: 700;
    font-size: 1.6REM;
    font-family: 'Circular Std';
    color: #F85E9F;
}

.destination-paragraph {
    font-weight: 700;
    font-size: 3.2rem;
    font-family: 'Circular Std';
    color: #191825;
    margin-top: 16px;
}

.section-destination-button {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.destination-left-button {
    border: none;
    background-color: unset;
    cursor: pointer;
}

.destination-right-button {
    border: none;
    background-color: #5D50C6;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    cursor: pointer;
}

/* section - 5 - destinations */

.section-destination-countries {
    display: flex;
    justify-content: center;
}

.destination-pictures {
    margin-top: 32px;
}

.destination-description-price-paragraph {
    font-weight: 700;
    font-size: 2.3rem;
    font-family: 'Circular Std';
    color: #F85E9F;
    margin-left: 32px;
    margin-top: 32px;
}

.destination-description-paragraph {
    font-weight: 700;
    font-size: 2.3rem;
    font-family: 'Circular Std';
    color: #191825;
    margin-top: 8px;
    margin-left: 32px;
    max-width: 334px;
}

.destination-city-paragraph {
    font-weight: 400;
    font-size: 1.8rem;
    font-family: 'Circular Std';
    color: #a5a5a7bf;
    margin-top: 16px;
    margin-left: 32px;
}

.destination-rating {
    margin-top: 32px;
    margin-left: 32px;
}

/* section - 6 - travel-group-2 */

.section-travel-group2 {
    display: flex;
    justify-content: center;
}

.travel-group2-picture {
    margin-top: 96px;
}

.travel-group2-title {
    text-align: center;
    margin-top: 64px;
    max-width: 398px;
}
.travel-group2-title-h1 {
    font-weight: 700;
    font-size: 1.6rem;
    font-family: 'Circular Std';
    color: #F85E9F;
}

.travel-group2-paragraph {
    font-weight: 700;
    font-size: 3.2rem;
    font-family: 'Circular Std';
    color: #191825;
    margin-top: 16px;
}

.group2-article {
    font-weight: 400;
    font-size: 1.6rem;
    font-family: 'Inter';
    color: #9d9d9e;
    margin-top: 32px;
}

.travel-descriptions {
    margin-top: 32px;
    text-align: center;
}

.travel-descriptions-title {
    font-weight: 700;
    font-size: 3.5rem;
    font-family: 'Circular Std';
    color: #FF5722;
    margin-top: 64px;
}

.travel-descriptions-paragraph {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.8rem;
    font-family: 'Inter';
    color: #191825;
}

/* section - 7 - travel-group-3 */

.section-promotion {
    display: flex;
    justify-content: center;
}

.promotion-img {
    margin-top: 96px;
    display: flex;
    justify-content: center;
}

.promotion-description {
    margin-top: 64px;
    text-align: center;
}
.promotion-h1 {
    font-weight: 700;
    font-size: 1.6rem;
    font-family: 'Circular Std';
    color: #F85E9F;
}

.promotion-paragraph {
    font-weight: 700;
    font-size: 3.2rem;
    font-family: 'Circular Std';
    color: #191825;
    margin-top: 16px;
}

.promotion-article {
    font-weight: 400;
    font-size: 1.6rem;
    font-family: 'Inter';
    color: #9d9d9e;
    margin-top: 32px;
    max-width: 398px;
}

.promotion-logo-items {
    text-align: left;
    margin-left: 64px;
}

.promotion-logo {
    margin-top: 64px;
}
.promotion-logo-title {
    font-weight: 700;
    font-size: 2.3rem;
    font-family: 'Circular Std';
    color: #191825;
    margin-top: 32px;
}

.promotion-logo-description {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.8rem;
    font-family: 'Inter';
    color: #9d9d9e;
}

/* section - 8 - travel enthusiast */

.section-clients {
    text-align: center;
    display: flex;
    justify-content: center;
}

.clients-h1 {
    font-weight: 700;
    font-size: 1.6rem;
    font-family: 'Circular Std';
    color: #F85E9F;
    margin-top: 96px;
    text-transform: uppercase;
}

.clients-paragraph {
    font-weight: 700;
    font-size: 3.2rem;
    font-family: 'Circular Std';
    color: #191825;
    margin-top: 16px;
}

.clients-icon {
    margin-top: 64px;
}

.client-enthusiast {
    margin-top: 64px;
    font-weight: 700;
    font-size: 2.3rem;
    font-family: 'Circular Std';
    color: #9d9d9e;
}

.client-enthusiast-span {
    font-size: 2.8rem;
    color: #FF5722;
}

.clients-rating-logo {
    margin-top: 32px;
}

.clients-article {
    font-weight: 450;
    font-size: 1.8rem;
    font-family: 'Circular Std';
    color: #9d9d9e;
    max-width: 398px;
}

.clients-scrol {
    display: flex;
    justify-content: center;
    margin-top: 128px;
    gap: 270px;
}

.clients-left-button {
    border: none;
    background-color: unset;
}

.clients-right-button {
    border: none;
    background-color: #5D50C6;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

/* section - 9 - newsletter */

.section-newsletter {
    display: flex;
    justify-content: center;
}

.newsletter-title {
    text-align: center;
    margin-top: 96px;
    max-width: 332px;
}

.newsletter-title-h1 {
    font-weight: 700;
    font-size: 1.6rem;
    font-family: 'Circular Std';
    color: #F85E9F;

    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.newsletter-title-paragraph {
    font-weight: 700;
    font-size: 3.2rem;
    font-family: 'Circular Std';
    color: #191825;
    margin-top: 32px;
}

.newsletter-email {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 700;
    font-size: 1.4rem;
    font-family: 'Circular Std';
    color: #9d9d9e;
    margin-top: 91.5px;
}

.newsletter-button {
    border: none;
    background-color: #5D50C6;
    border-radius: 16px;
    font-weight: 700;
    font-size: 1.6rem;
    color: white;
    width: 334px;
    height: 67px;
    margin-top: 59.5px;
}

/* section - 10 - travlog */

.section-travlog {
    display: flex;
    justify-content: space-around;
    margin-left: 16px;
    margin-top: 96px;
    height: 554px;
}

.travlog-paragraph {
    margin-top: 32px;
    font-weight: 450;
    font-size: 1.6rem;
    font-family: 'Circular Std';
    color: #9d9d9e;
    max-width: 398px;
}

.travlog-social-media {
    margin-top: 32px;
    display: flex;
    gap: 32px;
}

.travlog-menu {
    max-width: 382px;
}

.travlog-menu-items {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 2.3rem;
    font-family: 'Circular Std';
    color: #191825;
}
